Repository BeyondMafia/BeyondMafia-Integration, pull requests merged in 2023-07, with the labels that each got.

#824 Lower max player number from 50 to 25
  data/constants.js
Labels: refactor, game/core

#850 bugfix: delete friend only shows on your own profile
  react_main/src/pages/User/Profile.jsx
Labels: bug, site/user

#914 Mafia mobile layout
  react_main/src/css/game-mobile.css
  react_main/src/pages/Game/Game.jsx
  react_main/src/pages/Game/MafiaGame.jsx
Labels: bug, game/mafia, frontend/ui

#922 Fix Templar meeting
  Games/types/Mafia/roles/cards/MeetWithTemplars.js
Labels: bug, game/mafia

#936 Remove Ranked Approval
  react_main/src/pages/Community/Moderation.jsx
  routes/auth.js
Labels: refactor, site/user

#938 Add Jotto icon
  react_main/public/images/games.png
  react_main/src/css/setup.css
Labels: assets
