Repository BeyondMafia/BeyondMafia-Integration, pull requests merged in 2023-05, with the labels that each got.

#788 feat: instant meetings reset kicks [fixes reset kicks]
  Games/core/Game.js
  Games/core/VegKickMeeting.js
  Games/types/Mafia/roles/cards/ProposeMarriage.js
Labels: enhancement, game/mafia, game/core

#770 add rolemarker at the side
  react_main/src/components/Roles.jsx
  react_main/src/css/game.css
  react_main/src/pages/Game/Game.jsx
Labels: refactor, frontend/ui

#807 important fix(renamed roles): do not rename agent/ spy, fix test case
  data/renamedRoles.js
  test/Games/Mafia.test.js
Labels: bug, high priority, game/mafia

#841 Added Modifier Placeholder
  react_main/public/images/modifiers.png
  react_main/src/css/roles.css
Labels: enhancement, refactor, assets

#839 Forcing username color to stay constant
  react_main/src/css/forums.css
Labels: bug, frontend/ui, site/forum
