Repository BeyondMafia/BeyondMafia-Integration, pull requests merged in 2023-04, with the labels that each got.

#589 Added Bloodthirsty Modifier
  Games/types/Mafia/roles/cards/Bloodthirsty.js
  Games/types/Mafia/templates/death.js
  data/constants.js
  react_main/public/images/modifiers.png
  react_main/src/css/roles.css
  react_main/src/pages/Play/Learn/LearnMafia.jsx
Labels: enhancement, game/mafia

#604 Alert size and position fixed
  react_main/src/css/alerts.css
  react_main/src/css/main.css
Labels: enhancement, frontend/ui

#598 feat: add tab for ranked setups
  react_main/src/pages/Play/Host/Host.jsx
  routes/setup.js
Labels: enhancement, frontend/ui

#591 Added Loud Modifier
  Games/types/Mafia/Action.js
  Games/types/Mafia/Player.js
  Games/types/Mafia/roles/cards/Loud.js
  Games/types/Mafia/roles/cards/ReceiveReports.js
  data/constants.js
  react_main/src/css/roles.css
  react_main/src/pages/Play/Learn/LearnMafia.jsx
Labels: enhancement, game/mafia

#609 fix: mourner percents rounded
  Games/types/Mafia/roles/cards/AskDeadQuestion.js
Labels: bug, game/mafia

#611 feat(snoop): add role items and item descriptions
  Games/types/Mafia/Action.js
  Games/types/Mafia/Item.js
  Games/types/Mafia/items/Gun.js
  Games/types/Mafia/items/Suit.js
  Games/types/Mafia/roles/cards/SnoopItems.js
  react_main/src/pages/Play/Learn/LearnMafia.jsx
Labels: enhancement, game/mafia

#632 fix: string passed to queueAlert function missing 'sy2c'
  Games/types/Mafia/roles/cards/BreadGiver.js
Labels: game/mafia, frontend/ui

#633 fix: 'the' appear twice in alignment alert
  Games/types/Mafia/roles/cards/AlignmentLearner.js
Labels: bug, game/mafia, frontend/ui

#623 Added Apprentice
  Games/types/Mafia/roles/Mafia/Apprentice.js
  data/roles.js
Labels: enhancement, game/mafia

#613 Global Blood, player.data Added
  Games/core/Player.js
  Games/types/Mafia/Player.js
  Games/types/Mafia/roles/cards/Bloodthirsty.js
Labels: enhancement, game/mafia, game/core

#640 Add system icons part 3
  Games/core/Player.js
  Games/types/Mafia/items/Armor.js
  Games/types/Mafia/items/Gun.js
  Games/types/Mafia/items/Knife.js
  Games/types/Mafia/items/Match.js
  Games/types/Mafia/items/Snowball.js
  Games/types/Mafia/roles/cards/BreadGiver.js
  Games/types/Mafia/roles/cards/CatGiver.js
  Games/types/Mafia/roles/cards/CompareAlignments.js
  Games/types/Mafia/roles/cards/CountVisitors.js
  Games/types/Mafia/roles/cards/CryOutVisitors.js
  Games/types/Mafia/roles/cards/FullMoonInvincible.js
  Games/types/Mafia/roles/cards/GiveTurkeyOnDeath.js
  Games/types/Mafia/roles/cards/LearnVisitors.js
  Games/types/Mafia/roles/cards/MeetYourMatch.js
  Games/types/Mafia/roles/cards/OrangeGiver.js
  Games/types/Mafia/roles/cards/Sting.js
  Games/types/Mafia/roles/cards/TurnToStone.js
  Games/types/Mafia/roles/cards/WinByLynching.js
  Games/types/Mafia/templates/death.js
  react_main/public/images/emotes/sy8d.png
  react_main/public/images/emotes/sy8e.png
  react_main/public/images/emotes/sy8f.png
  react_main/public/images/emotes/sy8g.png
  react_main/public/images/emotes/sy8h.png
  react_main/public/images/emotes/sy8i.png
  react_main/public/images/emotes/sy9a.png
  react_main/public/images/emotes/sy9b.png
  react_main/public/images/emotes/sy9c.png
  react_main/public/images/emotes/sy9d.png
  react_main/public/images/emotes/sy9e.png
Labels: assets

#636 Added Alchemist
  Games/types/Mafia/Action.js
  Games/types/Mafia/roles/Monsters/Alchemist.js
  Games/types/Mafia/roles/cards/PotionCaster.js
  Games/types/Mafia/roles/cards/RoleLearner.js
  data/roles.js
  react_main/src/pages/Game/Game.jsx
Labels: enhancement, game/mafia

#612 docs: add rend's documentation
  Games/types/One Night/const/Priority.js
  docs/info-core-game-mechanics.md
  docs/info-create-new-game-settings.md
  docs/info-create-new-game.md
Labels: documentation

#450 feat: add role markers
  react_main/public/images/modifiers.png
  react_main/src/components/Popover.jsx
  react_main/src/components/Roles.jsx
  react_main/src/components/Setup.jsx
  react_main/src/css/roles.css
  react_main/src/pages/Game/Game.jsx
Labels: enhancement, help wanted, frontend/ui

#655 docs: combine more guides for beginners
  README.md
  docs/guide-role-icons.md
  docs/server_env
  docs/setup-beginner-guide.md
  docs/setup-github-codespace.md
  docs/setup-mongo-redis-docker.md
Labels: documentation

#648 Fixed Scatterbrained
  Games/types/Mafia/roles/cards/Scatterbrained.js
Labels: refactor, game/mafia

#641 Bloodthirsty Typo Fix
  Games/types/Mafia/roles/cards/Bloodthirsty.js
Labels: bug, game/mafia

#662 1bhavyasingh1/adds
  react_main/src/components/Emotes.jsx
Labels: bug, frontend/ui

#658 feat: Add Tab autocompletion for "@everyone"
  react_main/src/pages/Game/Game.jsx
Labels: frontend/ui

#625 Added Autocrat
  Games/types/Mafia/roles/Independent/Autocrat.js
  Games/types/Mafia/roles/cards/WinInsteadOfVillage.js
  data/roles.js
Labels: enhancement, game/mafia

#653 Messenger/Courier Message Fix
  Games/types/Mafia/roles/cards/MessageSender.js
Labels: bug, game/mafia

#661 fix: add icons for queueitem alert
  Games/types/Mafia/Action.js
Labels: bug, frontend/ui

#682 LMAAAOOOO (1 new emote)
  react_main/public/images/emotes/lmao.png
  react_main/src/components/Emotes.jsx
Labels: assets

#681 assets(role icon): added icons for framer, gator, hitman, mourner, forager, percival
  react_main/public/images/roles.png
  react_main/src/css/roles.css
Labels: assets

#671 Added Fabulist/Hoaxer
  Games/types/Mafia/const/Priority.js
  Games/types/Mafia/roles/Mafia/Hoaxer.js
  Games/types/Mafia/roles/Village/Fabulist.js
  Games/types/Mafia/roles/cards/Storyteller.js
  data/roles.js
Labels: enhancement, game/mafia

#683 Make dark/light theme UX better
  react_main/src/Main.jsx
Labels: refactor, frontend/ui

#621 Added Accursed Doll
  Games/types/Mafia/roles/Monsters/AccursedDoll.js
  Games/types/Mafia/roles/cards/GainKnifeIfVisitedNonMonster.js
  Games/types/Mafia/roles/cards/LearnVisitorsPerson.js
  data/roles.js
Labels: enhancement, game/mafia

#663 fix: combine bread and cursed bread
  Games/core/Player.js
  Games/types/Mafia/effects/Famished.js
  Games/types/Mafia/items/Bread.js
  Games/types/Mafia/items/CursedBread.js
  Games/types/Mafia/roles/cards/CursedWares.js
  Games/types/Mafia/roles/cards/GiveAnyItem.js
Labels: refactor, game/mafia

#677 TW slurs; moderation: add frontend protection against slurs from textinput
  react_main/src/components/Basic.jsx
  react_main/src/json/badWords.js
  react_main/src/json/slurs.js
Labels: site/moderation, frontend/ui

#693 Docs: Added emotes list
  react_main/src/Main.jsx
  react_main/src/components/Emotes.jsx
  react_main/src/pages/Chat/EmoteList.jsx
Labels: documentation, refactor, assets

#684 Added role Butler + Changed role descriptions + Changed Crafter meeting text
  Games/types/Mafia/roles/Mafia/Butler.js
  Games/types/Mafia/roles/cards/AppearAsVillagerOnDeath.js
  Games/types/Mafia/roles/cards/GiveAnyItem.js
  data/roles.js
Labels: enhancement, refactor, game/mafia

#699 Auto dark ux fixes
  react_main/src/Main.jsx
Labels: bug, high priority

#685 feat: add keymaker role
  Games/types/Mafia/Action.js
  Games/types/Mafia/const/MeetingPriority.js
  Games/types/Mafia/const/Priority.js
  Games/types/Mafia/items/Key.js
  Games/types/Mafia/items/Lock.js
  Games/types/Mafia/roles/Village/Keymaker.js
  Games/types/Mafia/roles/cards/KeyGiver.js
  data/roles.js
  react_main/src/pages/Play/Learn/LearnMafia.jsx
Labels: enhancement, game/mafia

#707 fix: quoting breaks the frontend greentext check
  react_main/src/pages/Game/Game.jsx
Labels: bug, frontend/ui

#691 fix: able to click-to-vote people even if they can't vote
  react_main/src/pages/Game/Game.jsx
Labels: bug, frontend/ui

#626 Added Nomad
  Games/types/Mafia/const/Priority.js
  Games/types/Mafia/roles/Independent/Nomad.js
  Games/types/Mafia/roles/cards/RoamingAlignment.js
  data/roles.js
  test/Games/Mafia.test.js
Labels: enhancement, game/mafia

#697 upgraded insanity speech filter
  Games/types/Mafia/effects/Insanity.js
Labels: refactor, game/mafia

#715 Improve profanity filter
  Games/core/Player.js
  data/moderation/slurs.json
  react_main/src/components/Basic.jsx
  react_main/src/json/swears.js
  react_main/src/lib/profanity.js
  react_main/src/pages/Game/Game.jsx
Labels: refactor, site/moderation, frontend/ui

#705 fix: scatterbrained modifier does not reveal
  Games/types/Mafia/roles/cards/Scatterbrained.js
Labels: refactor, game/mafia

#733 fix: trickster is now a visiting role
  Games/types/Mafia/roles/cards/TrickedWares.js
Labels: bug, game/mafia

#732 fix: do not replace with leet mappings if no profanities were detected
  react_main/src/lib/profanity.js
Labels: bug, frontend/ui

#738 fix: profanity filter no longer replaces numbers
  react_main/src/json/swears.js
  react_main/src/lib/profanity.js
Labels: bug, site/moderation, frontend/ui

#736 Add Leader Role
  Games/types/Mafia/effects/VoteBlind.js
  Games/types/Mafia/roles/Village/Leader.js
  Games/types/Mafia/roles/cards/LeaderlessOnDeath.js
  Games/types/Mafia/templates/stateEvents.js
  data/roles.js
Labels: enhancement, game/mafia

#741 refactor(ui): Fixed the alert on mobile not being centered
  react_main/src/css/alerts.css
  react_main/src/css/main.css
Labels: bug, frontend/ui

#740 refactor: change probe from effect to item
  Games/types/Mafia/effects/Probe.js
  Games/types/Mafia/items/Probe.js
  Games/types/Mafia/roles/cards/CanProbe.js
  Games/types/Mafia/roles/cards/WinAllProbed.js
Labels: refactor, game/mafia

#747 modified wrong role description for cyclist/driver
  data/roles.js
Labels: bug, frontend/ui

#758 Fix Autocrat
  Games/types/Mafia/roles/cards/WinInsteadOfVillage.js
Labels: bug, game/mafia

#761 rewrote famine message
  Games/types/Mafia/templates/death.js
Labels: refactor, game/mafia, frontend/ui

#746 Made the emote page look nicer
  react_main/src/css/emotes.css
  react_main/src/pages/Chat/EmoteList.jsx
Labels: documentation, refactor, assets

#485 Veg votekick commit
  Games/core/Game.js
  Games/core/Meeting.js
  Games/core/Player.js
  Games/core/PregameReadyMeeting.js
  Games/core/VegKickMeeting.js
  Games/types/Mafia/Game.js
  Games/types/Mafia/Player.js
  Games/types/Mafia/meetings/Village.js
  react_main/src/pages/Game/Game.jsx
  test/Games/Mafia.test.js
Labels: enhancement, help wanted, high priority, game/core

#748 assets(role icon): added icon for autocrat, hunter, oberon
  react_main/public/images/roles.png
  react_main/src/css/roles.css
Labels: assets

#750 Adjust Colors based on contrast
  react_main/package.json
  react_main/src/css/game.css
  react_main/src/css/user.css
  react_main/src/pages/Game/Game.jsx
  react_main/src/pages/User/User.jsx
  react_main/src/utils.jsx
Labels: bug, refactor, frontend/ui

#782 Auto button on top
  .gitignore
  package.json
  react_main/src/pages/User/Settings.jsx
Labels: refactor, frontend/ui

#728 fix: sleepwalker only visits while alive
  Games/types/Mafia/roles/cards/SleepWalk.js
Labels: bug, game/mafia

#773 Reflavouring Roles
  Games/core/Game.js
  Games/types/Mafia/roles/Independent/Mistletoe.js
  Games/types/Mafia/roles/Mafia/Inquisitor.js
  Games/types/Mafia/roles/Mafia/Poisoner.js
  Games/types/Mafia/roles/Mafia/Spy.js
  Games/types/Mafia/roles/Mafia/Telepath.js
  Games/types/Mafia/roles/Village/Agent.js
  Games/types/Mafia/roles/Village/Celebrity.js
  Games/types/Mafia/roles/Village/Drunk.js
  Games/types/Mafia/roles/Village/Gunsmith.js
  Games/types/Mafia/roles/Village/Psychic.js
  Games/types/Mafia/roles/Village/Seeker.js
  data/renamedRoles.js
  data/roles.js
  react_main/src/css/roles.css
Labels: refactor, game/mafia

#767 Added Mindwarper
  Games/types/Mafia/roles/Monsters/Mindwarper.js
  Games/types/Mafia/roles/cards/MindShifter.js
  data/roles.js
Labels: enhancement, game/mafia

#754 fix: caroler is able to carol janitor
  Games/types/Mafia/roles/cards/Carol.js
  test/Games/Mafia.test.js
Labels: bug, game/mafia

#789 refactored rolesassigned
  Games/core/Game.js
  Games/core/Player.js
  Games/types/Mafia/roles/cards/AnonymizeMafia.js
  Games/types/Mafia/roles/cards/BecomeDeadRole.js
  Games/types/Mafia/roles/cards/Bloodthirsty.js
  Games/types/Mafia/roles/cards/BreadGiver.js
  Games/types/Mafia/roles/cards/ElectionResults.js
  Games/types/Mafia/roles/cards/GiveTurkeyOnDeath.js
  Games/types/Mafia/roles/cards/JailTarget.js
  Games/types/Mafia/roles/cards/MimicRole.js
  Games/types/Mafia/roles/cards/PotionCaster.js
  Games/types/Mafia/roles/cards/PublicReveal.js
  Games/types/Mafia/roles/cards/SeanceTarget.js
  Games/types/Mafia/roles/cards/SwapRoles.js
  Games/types/Mafia/roles/cards/WinByLynching.js
  docs/info-core-game-mechanics.md
Labels: refactor, game/mafia, game/core
